rtp

*~
*.o
*.bak
.gout*

*.sln
*.vcxproj

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
build/*
Data/*
Release/*
CWAMEnsembles/*
Prototype\ Mac.xcodeproj/*
old_outputs/*
0600/*
inputs.txt

*.xml
*.pdb
*.exe
*.cache
*.opensdf
*.sdf
*.suo
