rtp

*~
*.o
*.bak
.gout*

*.sln
*.vcxproj

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
build/*
Data/results*
Release/*
CWAMEnsembles/*
Prototype\ Mac.xcodeproj/*

*.pdb
*.exe
*.cache
*.opensdf
*.sdf
*.suo
